.card {
  border: 1px solid lightblue;
  font-weight: 500;
  max-width: 343px;
  margin: 0 auto;

  @media (min-width: 768px) {
    max-width: 438px;
  }
}

.card__content {
  padding: 23px 20px;

  @media (min-width: 768px) {
    padding: 32px;
  }
}

.card__image-wrapper {
  position: relative;
  margin-bottom: 32px;
  min-height: 208px;
  min-width: 302px;
  aspect-ratio: 302/208;

  @media (min-width: 768px) {
    min-width: 374px;
    margin-bottom: 40px;
    aspect-ratio: 374/208;
  }
}

.card__image {
  display: block;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
}

.card__title {
  font-size: 28px;
  color: #000;
  font-weight: 600;
  line-height: 1;
  margin-bottom: 16px;
}

.card__subtitle {
  color: #77767E;
  font-weight: 500;
  margin-bottom: 56px;
  font-size: 16px;
  line-height: 1;

   @media (min-width: 768px) {
    margin-bottom: 92px;
  }
}

.card__button {
  color: #fff;
  background-color: #000;
  width: 100%;   
  padding: 16px;
  border-radius: 0;
  font-size: 16px;
  line-height: 1;
}
