.to-dos {
  padding: 22px 27px;
  background-color: #000;
  width: 343px;
  height: 408px;
  color: #FFF;
}

.to-dos__complete-button {
  display: block;
  padding: 10px 32px 12px;

  /* to uncomment during workshop */
  /* padding: 10px 34px 12px 32px; */
  margin-bottom: 57px;
  background-color: #016FFF;
  border: none;
  border-radius: 2px;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: -0.01em;
}

.to-dos__complete-button:disabled {
  background-color: #262728;
}

.to-dos__item {
  display: flex;
  align-items: center;
  padding-left: 16px;
}

.to-dos__item+.to-dos__item {
  margin-top: 38px;
}

.to-dos__input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.to-dos__label {
  position: relative;
  padding-left: 40px;
  width: 100%;
  font-size: 18px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: -0.01em;
  cursor: pointer;
}

.to-dos__label::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 24px;
  height: 24px;
  border: 2px solid #B8BFCC;
  /* to uncomment during workshop */
  /* border-radius: 3.6px; */
  background-color: #000;
  transform: translateY(-50%);
}

.to-dos__label::after {
  content: '';
  position: absolute;
  left: 9px;
  top: 40%;
  width: 8px;
  height: 15px;
  border: solid #ffffff;
  border-width: 0 2.5px 2.5px 0;
  transform: translateY(-50%) scale(0);
  transform-origin: center;
}

.to-dos__input:checked+.to-dos__label::before {
  background-color: #016FFF;
  border-color: #016FFF;
}


@media (min-width: 460px) {
  .to-dos {
    width: 460px;
    height: 408px;
    padding: 32px 28px;
  }

  .to-dos__label {
    font-size: 16px;
    padding-left: 34px;
  }

  .to-dos__label::before {
    width: 20px;
    height: 20px;
  }

  .to-dos__label::after {
    left: 7px;
    top: 44%;
    width: 7px;
    height: 12px;
  }

  .to-dos__item {
    padding-left: 12px;
  }

  .to-dos__item+.to-dos__item {
    margin-top: 24px;
  }

  .to-dos__complete-button {
    margin-bottom: 40px;
  }
}